{% load staticfiles %}
<html>
    <head>
        <title>PhotoGallery</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/news.css' %}"><!--header-->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css"><!--footer and container-->
                
        
        <script type="text/javascript" src="/static/scripts/jquery-1.4.2.min.js"></script>
        <!--<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>-->
        <script type="text/javascript" src="/static/scripts/jquery.lightbox.js"></script>
    </head>
    <body>

        <script>
        if ( !(navigator.userAgent.indexOf('MSIE 6') >= 0) ){  
            $(document).ready(function(){
                $(".gallery a").lightbox();
                $.Lightbox.construct({
                    "speed": 500,
                    "show_linkback": true,
                    "keys": {
                        close:  "q",
                        prev:   "z",
                        next:   "x"
                    },
                    "opacity": 0.9,
                    text: {
                        image:      "Картинка",
                        of:         "из",
                        close:      "Закрыть",
                        closeInfo:  "Завершить просмотр можно, кликнув мышью вне картинки.",
                        help: {
                            close:      "",
                            interact:   "Интерактивная подсказка"
                        },
                        about: {
                            text:   "",
                            title:  "",
                            link:   "/index.html"
                        }
                    }
                });
            });
        }
        </script>

        
        {% block text %}
        {% endblock %}
        

        <div id="footer">
            <!-- First Column -->
            <div class="one-fourth">
                <h3>Useful Links</h3>
                <ul class="footer_links">
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Ellem Ciet</a></li>
                    <li><a href="#">Currivitas</a></li>
                    <li><a href="#">Salim Aritu</a></li>
                </ul>
            </div>
            <!-- Second Column -->
            <div class="one-fourth">
                <h3>Terms</h3>
                <ul class="footer_links">
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Ellem Ciet</a></li>
                     <li><a href="#">Currivitas</a></li>
                    <li><a href="#">Salim Aritu</a></li>
                </ul>
            </div>
            <!-- Third Column -->
            <div class="one-fourth">
                <h3>Information</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis.
                <div id="social_icons"> Theme by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a><br>
                  Photos © <a href="http://dieterschneider.net">Dieter Schneider</a> </div>
            </div>
            <!-- Fourth Column -->
            <div class="one-fourth last">
                <h3>Socialize</h3>
                <img src="/static/img/icon_fb.png" alt=""> <img src="/static/img/icon_twitter.png" alt=""> <img src="/static/img/icon_in.png" alt="">
            </div>
            <div style="clear:both; height: 40px"></div>
        </div>
        <!-- END footer -->

    </body>
</html>